*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

li {
    margin: 10px 0;
}

